extends layout
 
block content
  section.container
    .row.mt-5.justify-content-center
      .col-5
        h1=poll.question
        if error !== undefined
          .alert.alert-danger #{error.message}
        form.ml-3(action="/poll/vote/"+poll._id, method="post")
          each option in poll.options
            .form-check
              input.form-check-input(type="radio", name="id", id=option.text,value=option._id)
              label.form-check-label(for=option.text) #{option.text} 
          button.btn.btn-primary.mt-3(type='submit') Vote